{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - hero_component_available: A boolean that indicates if the hero_component has value.
 *   Due to the nested nature of the paragraph type it takes more than one check to determine this.
 *
 * @see template_preprocess_node()
 */
#}

{{ attach_library('uccollege/addtoany') }}

{% set main_media = content.field_image_main %}
{% set hero_components = content.field_intro_paragraph %}
{% set byline = content.field_byline %}
{% set sidebar = content.field_paragraph_single_3 %}
{% set sidebar_1 = content.field_paragraph_single_2 %}
{% set sidebar_2 = content.field_paragraph_single_4 %}
{% set main_body = content.field_par_smartbody %}
{% set switcher = content.field_paragraph_single_1 %}

{{ content.content_moderation_control }}

<section class="l-container">
  <article class="c-article">
    {% include '@uccollege/components/headline/templates/node--inc--headline.html.twig' %}

    {% if main_media|field_value or hero_component_available %}
      <div class="c-article__media">
        
        {% if hero_component_available %}
          {{ hero_components }}
        {% else %}
          {{ main_media }}
        {% endif %}

      </div>
    {% endif %}

    {% if byline|field_value %}
      <div class="c-byline">
        {{ byline }}
      </div>
    {% endif %}

    <uc-share-links></uc-share-links>

    {% if sidebar|field_value or sidebar_1|field_value or sidebar_2|field_value %}
      <div class="c-article__sidebar">
        {{ sidebar_2 }}
        {{ sidebar }}
        {{ sidebar_1 }}
      </div>
    {% endif %}

    {{ main_body }}

    {% if display_bottom_share_links %}
    <uc-share-links></uc-share-links>
    {% endif %}

  </article>
</section>

{# visual nav is a config_page piece of content, always present on stories #}
{{ visual_nav }}

{{ switcher }}
