
<div class="l-container">
  <uc-searchform></uc-searchform>

  <uc-list
    datasource="{{ datasource }}"
    :filtered="{{ filtered }}"
    :items-per-page="{{ itemsPerPage }}"
    :paginate="{{ paginate }}"
    :is-search="{{ isSearch }}">
  </uc-list>
</div>
