{#
/**
 * @file
 * Visual Nav component
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set headline = content.field_headline_text %}
{% set item_1 = content.field_feature_4sq_img_1 %}
{% set item_2 = content.field_feature_4sq_img_2 %}
{% set item_3 = content.field_feature_4sq_img_3 %}
{% set item_4 = content.field_feature_4sq_img_4 %}

{% block paragraph %}
  <section class="l-container c-visual-nav__container">
    {% block content %}

      <div class="c-visual-nav">
        <h2 class="t-heading--medium">{{ headline }}</h2>
        <ul>
          <li class="c-visual-nav__cell1">{{ item_1 }}</li>
          <li class="c-visual-nav__cell2">{{ item_2 }}</li>
          <li class="c-visual-nav__cell3">{{ item_3 }}</li>
          <li class="c-visual-nav__cell4">{{ item_4 }}</li>
        </ul>
      </div>

    {% endblock %}
  </section>
{% endblock paragraph %}
